@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: whitesmoke;
  background-color: #2c2141;
}
