@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2c2141;
}

.main {
  &__heading {
    color: whitesmoke;
    font-weight: 400;
  }
  &__editor{
    width: 50vw;
    min-width: 300px;
    height: 30vh;
    min-height: 300px;
    border-radius: 16px;
  }
  &__btn-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
